*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    background-color: #36143A;
    padding: 58px 130px;


}



.list-footer-content ul li{
    list-style: none;
}

.list-footer-content ul li a {
    color: white;
    text-decoration: none;

}