*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    background-color: #584187;
    padding: 58px 130px;
    justify-content: space-between;
    align-items: center;
}

.container-footer1 {
    display: flex;
    align-items: flex-start;
    gap: 97px;
}

.list-footer-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.list-footer-content ul li{
    list-style: none;
}

.list-footer-content h2 {
    font-size: 20px;
    color: white;
}

.list-footer-content ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list-footer-content ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;

}

.container-footer2 button{
    background-color: #BD00A4;
    display: flex;
    padding: 18px 20px;
    border-radius: 10px;
    align-items: center;
    gap: 24px;
    font-size: 24px;
    color: #ffffff;
}

