@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    justify-items: center;
    padding: 60px 0;
    font-family: "Poppins", sans-serif;
}


.cardDownContainer {
    grid-column: span 2;
}



.doubleCardContainer {
    flex-direction: column;
    display: flex;
    align-items: flex-start;

    width: 500px;
    height: 350px;

    background: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    padding: 5px 5px;
}


.doubleCard {
    background-color: #9264ff;
    width: 100%;
    padding: 14px;

    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 12px 12px 0 0; 
}

.doubleCard img {
    width: 40px;
    height: 40px;
}

.doubleCard h3 {
    color: white;
    font-size: 26px;
    font-weight: 400;
}


.doubleCardContainer h4 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.doubleCardContainer p {
    margin-top: 8px;
    font-size: 15px;
    color: #333;
    line-height: 1.4;
}



.cardDownContainer {
    width: 900px;
    height: 230px;

    border: 1px solid #ccc;
    background: #fff;
    padding: 15px 20px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

    display: flex;
    flex-direction: column;
}

.cardDown {
    background-color: #9264ff;
    padding: 14px;

    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 12px 12px 0 0;
}

.cardDown img {
    width: 40px;
    height: 40px;
}

.cardDown h3 {
    color: white;
    font-size: 26px;
    font-weight: 400;
}

.cardDownContainer h4 {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
}

.cardDownContainer p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.4;
}
