@import url(../../../index.css);


.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-purple);
    position: relative;
    padding: 179px 185px;
}

.content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: #FFF5E6;
    border-radius: 20px;
    width: 911px;
    padding: 89px 155px;
}

.content-info h2 {
    font-weight: bold;
    font-size: 48px;
    font-family: var(--font-family-poppins);
    color: var(--color-pink);
}

.content-info p {
    line-height: 36px;
    font-family: var(--font-family-poppins);
    font-size: 24px;
    text-align: justify;


}

.content-info img {
    position: absolute;
    left: 35vh;
    top: 5vh;
}

@media (min-width:2400px) {
    /* .content-info img{
        top: 40vh;
        left: 50vh;
    } */
}