@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Jersey 25", sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    background: linear-gradient(180deg, #8666BE 0%, #DED8E9 62%);
    box-shadow: inset 0px 10px 30px 10px rgba(14, 3, 36, 0.41);
    padding-bottom: 50px;
}

.mainLeft {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.mainLeft h2 {
    font-size: 46px;
    color: #1F2F6D;
    padding-bottom: 30px;
}

.mainLeft p {
    font-size: 40px;
    padding-bottom: 60px;
    width: 580px;
    color: white;
    line-height: 70px;
}

.buttonMain a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.buttonMain {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5B00BD;
    width: 170px;
    height: 60px;
    border-radius: 30px 3px;
}
