@import url("../../../index.css");


.container-maps {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 130px 54px;
    background-color: var(--color-purple);
}

.container-maps h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    color: var(--color-neutral-white);
}

.content-maps {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-purplelight);
    padding: 108px 150px; /* Grande padding para desktop */
    border-radius: 20px;
}




.container-maps span {
    color: var(--color-pink);
    margin-left: 10px;
}

.group-img {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.group-img img {
    width: 200px;
    height: 200px;
}


@media (max-width: 430px) {
    
   
    .container-maps {
        gap: 20px;
        padding: 60px 20px; 
    }

    
    .container-maps h3 {
        font-size: 32px;
        text-align: center; 
    }

   
    .content-maps {
        flex-direction: column; 
        gap: 20px;
        padding: 30px 15px; 
    }

    .content-maps img{
        width: 240px;
    }
    
    
    .content-maps p {
        font-size: 16px; 
        text-align: center; 
    }

   
    .group-img img {
        width: 120px; 
        height: 120px;
    }
    
    
    .group-img {
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}