@import url("../../../index.css");


.container-maps {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 130px 54px;
    background-color: var(--color-purple);

}

.container-maps h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    color: var(--color-neutral-white);
}

.content-maps {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-purplelight);
    padding: 108px 150px;
    border-radius: 20px;
}




.container-maps span {
    color: var(--color-pink);
    margin-left: 10px;
}

.group-img {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.group-img img {
    width: 200px;
    height: 200px;
}